ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    position: absolute;
    margin-left: 50%;
    width: 851px;
}
li {
    display: inline-block;
    margin-left: 5%;
}
a {text-decoration: none;}
header {
  display: flex;
}
img {
    position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    width: 120px;
    height: 70px;
}